.navButton {
    font-family: "Roboto Mono", monospace;
    background-color: black;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
  }
  
  /* Hover state */
  .navButton:hover {
    background-color: white;
    border-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 86, 179, 0.5);
  }
  
  /* Active (clicked) state */
  .navButton:active,
  .navButton.active {
    background-color: white;
    border-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 86, 179, 0.5);
  }
  
  /* Underline effect for the active button */
  .navButton.active span {
    text-decoration: underline;
    text-decoration-color: white; /* White color for the underline */
    text-decoration-thickness: 4px; /* Thicker underline */
  }
  
  /* Remove hover effect for the active button */
  .navButton.active:hover {
    background-color: white;
    border-color: white;
    color: black;
    box-shadow: none;
  }
  
  .navButton span {
    margin-left: 5px;
  }
  
  
  
  
  